.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #f8f9fa;
}

header {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin: 40px 0;
}

h1, h2 {
  margin: 0;
}

.cta {
  background-color: #ff9900;
  color: #fff;
  padding: 15px 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: 
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.25s ease;
  will-change: transform;
}

.cta:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.1);
}


footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  header {
    padding: 40px 10px;
  }

}


